.ProfileHead {
    display: flex;
    width: 99%;
    height:  97vh;
    background: black;
    overflow-y: hidden;
    color: white;
}

.Sections {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 10px;
    border-right: 1px dashed white;
    font-size: 15px;
    font-family: cursive;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 5px;
}
.Sections > span {
    height: 30px;
    text-align: center;
    width: 95%;
    font-size: 20px;
    padding: 8px;
    overflow-x: hidden;
}
.Sections > span:hover {
    background: burlywood;
    color: tomato;
    border-radius: 10px;
}

.forms {
    text-align: center;
    position: relative;
    width: 80%;
}
