.SSN {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}
.Generic {
    left: 0;
    width: 20px;
    z-index: 10;
    transition: width 0.5s;
    color: white;
    font-size: 40px;
    width: 40px;
    padding: 3px;
    font-family: cursive;
    cursor: pointer;
}
.Generic:hover {
    width: 80px;
  }