.Base {
    height: 100vh;
    background-color: #2a2a2a;
    text-align: center;
    color: white;
    z-index: -10;
}

.nav {
    z-index:1000;
    position:absolute;
    background-color:#161616;
    color:white;
    top: 50%;
    left: 50%;
    height: 80%;
    width: 80%;
    transform: translate(-50%,-50%);
    animation-name: example;
  animation-duration: 0.5s;
  font-size:40px; 
    line-height:80px 
    
}

@keyframes example {
    0%   {height:0%;width:0%;font-size:0px; 
        line-height:0px }
  100% {height:80%;width:80%;font-size:40px; 
    line-height:80px }
}

.no-nav {
    z-index:1000;
    position:absolute;
    background-color:#161616;
    color:white;
    top: 50%;
    left: 50%;
    height: 0%;
    width: 0%;
    transform: translate(-50%,-50%);
  font-size:0px; 
    line-height:80px ;
    animation-name: example3;
  animation-duration: 0.5s;
}


@keyframes example3 {
    0%   {height:80%;width:80%;font-size:40px; 
        line-height:80px }
  100% {height:0%;width:0%;;font-size:0px; 
    line-height:0px;display: none;}
}

.TopNav {
    display: flex;
    justify-content:flex-end;
    margin-right: 20px;
    height: 50px;
}

h2 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.TopNav > .IconP {
    border: 1px solid white;
    color: white;
    width: 30px;
    height: 25px;
    border-radius: 45px;
    margin-top: 15px;
    cursor: pointer;
}

.TopNav > .IconP:hover {
    color: #e0e0d1;
    width: 30px;
    height: 25px;
    border-radius: 45px;
    margin-top: 15px;
    cursor: pointer;
}   
.iconP {
    font-size: 50px;
    color: white;
}

.TopNav > .IconD {
    color: white;
    width: 15px;
    height: 5px;
    border-radius: 45px;
    padding: 10px;
    margin-top: 8px;
    cursor: pointer;
    margin-right: 10px;
}

.TopNav > .IconD:hover {
    color: #e0e0d1;
    width: 15px;
    height: 5px;
    border-radius: 45px;
    margin-top: 8px;
    cursor: pointer;
}   
.IconD {
    font-size: 5px;
    color: white;
}
.Data {
    display: flex;
    justify-content: space-between;
}
.intro {
    margin-top: 40px;
    padding-right: 15px;
    font-size: 25px;
    color: white;
    padding: 15px;
}

.test {
    width: 70%;
    text-align: center;
    font-size: 12px;
    margin-top: 10%;
}

.forward {
    display: flex;
    padding: 20px;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10%;
}

#forward-datavalue {
    margin-top: 55px;
    color: #2a2a2a;
    cursor: pointer;
}
.forward:hover  > #forward-datavalue{
    color: white;
}
.FIcon {
    margin-top: 40px;
    font-size: 25px;
    color: white;
    padding: 15px;
    cursor: pointer;
    margin-right: 40px;
}
.backward {
    margin-top: 10%;
    display: flex;
    padding: 10px;
    justify-content: center;
    border-radius: 15px;
    left: 0;
}
#backward-datavalue {
    margin-top: 55px;
    color: #2a2a2a;
    cursor: pointer;
}
.backward:hover  > #backward-datavalue{
    color: white;
}
#backicon {
    margin-top: 40px;
    font-size: 25px;
    color: white;
    padding: 15px;
    cursor: pointer;
    margin-left: 40px;
    left: 0;
}


